body {
    background-color: rgb(223, 209, 209);
    /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(109,29,253,1) 50%, rgba(69,169,252,1) 100%);  */
    
}

header {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(156, 87, 8);
    color: seashell;
    padding-bottom: 4px;
}

.job {
    font-size: 36px;
    background-color: rgb(18, 8, 156);
    color: blanchedalmond;
    display: flex;
    justify-content: center;
}

.conteiner {
    font-size: 24px;
    background-color: rgb(12, 145, 116);
    max-width: 500px;
    margin: 10px;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 25px;
    padding: 15px;
    align-items: center;
}

